body{
    background-color: black;
    text-align: center;
    padding: 20px;
}

h1{
   color: aqua;
   border-bottom: 1px solid white;
   padding: 20px 10px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: bold;
}

#searchBar{
     padding: 5px 50px 5px 50px;
     text-align: center;
     color: black;
     font-weight: bold;
     font-family: 'Courier New', Courier, monospace;
     border-radius: 10px;
     background-color: bisque;
     
}

input[type=text] {
    width: 20%;
    -webkit-transition: width 0.15s ease-in-out;
      transition: width 0.15s ease-in-out;
   }
 
   /* When the input field gets focus,
        change its width to 100% */
   input[type=text]:focus {
     width: 50%;
   }

   button{
    padding: 10px;
    border-radius: 10px;
    margin-left: 5px;
    background-color: whitesmoke;
    cursor: pointer;
    content: bold;
    border: 2px solid red;

   }
    
 
 #recipeslist{
    font-size: 2rem;
    margin-left: 90px;
    text-align: left;
    visibility: visible;
    
 }

 .recipes{
    display: list-item;
    color: beige;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    visibility: visible;
    
 }
   
  }

.row::after{
      content: "";
      clear: both;
      display: flex;
}

.column {
    float: left;
    width: 18%;
    padding: 5px;
}

  h2{
    color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;

  }

  p{
    color:aqua;
  }


  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }

  #para{
    color: black;
  }
  

